form {
	max-width: 600px;
	display: grid;
	gap: 30px;
	accent-color: var(--color);

	& input {
		color: var(--ink);
	}

	&:active {
		accent-color: var(--highlight);
	}

	& .question {
		display: grid;
		gap: 5px;
	}

	& .multi {
		display: grid;
		gap: 5px;

		& .option {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		& .option:has([type="text"]) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	& input[type="text"],
	input[type="number"] {
		padding: 12px;
		font-size: 16px;
		background-color: var(--paper);
		border: 1px solid var(--shadow);
	}

	& select {
		background-color: var(--paper);
		font-size: 1rem;
		padding: 12px 20px;
		border: none;
		border-radius: var(--corners);
	}
}
