html {
	--primary-font: "Inter";
	--secondary-font: "Inter";

	--black: #111111;
	--white: #efefef;

	--neutral: gray;

	--color: hsl(40, 100%, 50%);
	--color-dark: hsl(40, 100%, 40%);
	--accent: hsl(25, 85%, 80%);
	--highlight: hsl(225, 65%, 75%);
	--warning: hsl(355, 55%, 55%);
	--warning-dark: hsl(355, 55%, 45%);

	--shadow: hsla(0, 0%, 80%, 0.8);

	--corners: 10px;

	--paper: hsl(40, 50%, 90%);
	--ink: hsl(225, 10%, 10%);
}

@media (prefers-color-scheme: dark) {
	html {
		--highlight: hsl(225, 30%, 40%);

		--paper: hsl(225, 10%, 10%);
		--ink: hsl(40, 50%, 90%);

		--shadow: hsla(0, 0%, 40%, 0.8);
	}
}
