html {
	--primary-font: "Inter";
	--secondary-font: "Inter";

	--black: #111111;
	--white: #efefef;

	--neutral: gray;

	--color: hsl(40, 100%, 50%);
	--color-dark: hsl(40, 100%, 40%);
	--accent: hsl(25, 85%, 80%);
	--highlight: hsl(225, 65%, 75%);
	--warning: hsl(355, 55%, 55%);
	--warning-dark: hsl(355, 55%, 45%);

	--shadow: hsla(0, 0%, 80%, 0.8);
	--card-shadow: 2px 2px 2px 1px hsla(0, 40%, 15%, 0.5);

	--corners: 5px;

	--paper: hsl(40, 50%, 98%);
	--ink: hsl(230, 10%, 15%);
}

@media (prefers-color-scheme: dark) {
	html {
		--highlight: hsl(225, 30%, 40%);

		--paper: hsl(230, 10%, 20%);
		--ink: hsl(40, 50%, 95%);

		--shadow: hsla(0, 0%, 40%, 0.8);
	}
}
